<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.pharmacy.model.mapper.PharmacyMapper">

	<resultMap type="PharmacyList" id="PharmacyListMap">
		<id 	property="pharmacyNo" 	column="pharmacyNo"/>
		<result property="hpid" 		column="hpid"/>
		<result property="dutyName" 	column="dutyName"/>
		<result property="dutyAddr" 	column="dutyAddr"/>
		<result property="star" 		column="star"/>
		<result property="reviews" 		column="reviews"/>
		
		
		<!-- ================================= 추가부분 ===================================== -->
		<result property="dutyInf" 			column="dutyInf"/>
		<result property="dutyTel1" 		column="dutyTel1"/>
		<result property="dutyTime1c" 		column="dutyTime1c"/>
		<result property="dutyTime2c" 		column="dutyTime2c"/>
		<result property="dutyTime3c" 		column="dutyTime3c"/>
		<result property="dutyTime4c" 		column="dutyTime4c"/>
		<result property="dutyTime5c" 		column="dutyTime5c"/>
		<result property="dutyTime6c" 		column="dutyTime6c"/>
		<result property="dutyTime7c" 		column="dutyTime7c"/>
		<result property="dutyTime8c" 		column="dutyTime8c"/>
		
		<result property="dutyTime1s" 		column="dutyTime1s"/>
		<result property="dutyTime2s" 		column="dutyTime2s"/>
		<result property="dutyTime3s" 		column="dutyTime3s"/>
		<result property="dutyTime4s" 		column="dutyTime4s"/>
		<result property="dutyTime5s" 		column="dutyTime5s"/>
		<result property="dutyTime6s" 		column="dutyTime6s"/>
		<result property="dutyTime7s" 		column="dutyTime7s"/>
		<result property="dutyTime8s" 		column="dutyTime8s"/>
		
		<result property="postCdn1" 		column="postcdn1"/>
		<result property="postCdn2" 		column="postCdn2"/>
		<result property="wgs84Lon" 		column="wgs84Lon"/>
		<result property="wgs84Lat" 		column="wgs84Lat"/>
		<result property="pharmacyImg" 		column="pharmacyImg"/>
		<!-- ================================= 추가부분 ===================================== -->
		
		
	</resultMap>
	
	<resultMap 	id="ReviewResult" type="PReview">
		<id		property="reviewNo" 	column="reviewNo"/>
		<result property="userId" 		column="userId"/>
		<result property="content" 		column="content"/>
		<result property="star" 		column="star"/>
		<result property="createDate" 	column="createDate"/>
	</resultMap>
	
	<resultMap 	type="PHospital" id="HospitalResult">
		<id		property="hpid" 		column="hpid" />
		<result property="dutyName" 	column="dutyName" />
		<result property="dutyAddr" 	column="dutyAddr" />
		<result property="star" 		column="star" />
		<result property="reviews" 		column="reviews" />
		<result property="distance" 	column="distance" />
	</resultMap>
	
	
	
	<select id="selectPharmacyList" resultMap="PharmacyListMap" parameterType="map">
		SELECT
			P.pharmacyNo, hpid, dutyName, dutyAddr, 
			TRUNCATE(AVG(star), 1) AS star, COUNT(reviewNo) AS reviews
		FROM PHARMACY P
		LEFT JOIN REVIEW_PHARMACY R ON P.pharmacyNo = R.pharmacyNo
		WHERE 1 = 1
		<if test="searchValue != null">
			AND dutyName LIKE '%${searchValue}%'
		</if>
		<if test="searchCity != null">
			AND dutyAddr LIKE '%${searchCity}%'
		</if>
		<if test="searchTown != null">
			AND dutyAddr LIKE '%${searchTown}%'
		</if>
		GROUP BY P.hpid
		<if test="name == null and star == null and review == null">
			ORDER BY P.pharmacyNo DESC 
		</if>
		<if test="name != null">
			ORDER BY dutyName 
		</if>
		<if test="star != null">
			ORDER BY star
		</if>
		<if test="review != null">
			ORDER BY reviews
		</if>
		LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectPharamcyCount" resultType="int" parameterType="map">
		SELECT  
			COUNT(*)
		FROM PHARMACY
		WHERE 1 = 1
		<if test="searchValue != null">
			AND dutyName LIKE '%${searchValue}%'
		</if>
		<if test="searchCity != null">
			AND dutyAddr LIKE '%${searchCity}%'
		</if>
		<if test="searchTown != null">
			AND dutyAddr LIKE '%${searchTown}%'
		</if>
	</select>
	
	
	
	<!-- 상세페이지 도전중 -->
<!-- 	<select id="selectPharmacyInfoList" resultMap="PharmacyListMap" parameterType="map">
		SELECT  *
		FROM pharmacy p
		left outer JOIN review_pharmacy r ON(p.pharmacyNo = r.pharmacyNo);
		where pharmacyNo = #{pharmacyNo}
	</select> -->
	
	<select id="selectPharmacyListByNo" parameterType="int" resultMap="PharmacyListMap">
		SELECT  
			P.pharmacyNo, hpid, dutyName, dutyAddr, dutyInf, dutyTel1, 
			dutyTime1c, dutyTime2c, dutyTime3c, dutyTime4c, dutyTime5c, dutyTime6c, dutyTime7c, dutyTime8c,
			dutyTime1s, dutyTime2s, dutyTime3s, dutyTime4s, dutyTime5s, dutyTime6s, dutyTime7s, dutyTime8s,
			postCdn1, postCdn2, wgs84Lon, wgs84Lat,
		TRUNCATE(AVG(star), 1) AS star, COUNT(reviewNo) AS reviews
		FROM PHARMACY P
		LEFT JOIN REVIEW_PHARMACY R ON P.pharmacyNo = R.pharmacyNo
		WHERE P.pharmacyNo = #{pharmacyNo}
	</select>
	
	<select id="selectReview" resultMap="ReviewResult" parameterType="map">
		SELECT 
			reviewNo, userId, content, star, createDate 
		FROM REVIEW_PHARMACY R
		JOIN Member M ON M.memberNo = R.memberNo
		WHERE pharmacyNo = #{pharmacyNo}
		LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectReviewCount" resultType="int" parameterType="int">
		SELECT 
			COUNT(*) 
		FROM REVIEW_PHARMACY
		WHERE pharmacyNo = #{pharmacyNo}
	</select>
	
	<select id="selectHospital" resultMap="HospitalResult" parameterType="int">
		SELECT
			H.hpid, dutyName, dutyAddr, 
			TRUNCATE(AVG(star), 1) AS star, COUNT(reviewNo) AS reviews,
		    ROUND(ST_Distance_Sphere(POINT(
				(SELECT wgs84Lon FROM PHARMACY WHERE pharmacyNo = #{pharmacyNo}),
				(SELECT wgs84Lat FROM PHARMACY WHERE pharmacyNo = #{pharmacyNo})
		    ), POINT(wgs84Lon, wgs84Lat)), -1) AS distance
		FROM HOSPITAL H
		LEFT JOIN REVIEW_HOSPITAL R ON H.hpid = R.hpid
		GROUP BY H.hpid
		ORDER BY distance
		LIMIT 0 , 5
	</select>
	
</mapper>