<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.mvc.board.model.mapper.BoardMapper">

	<resultMap type="Board" id="boardListResultMap">
		<id property="no" column="NO"/>
		<result property="title" column="TITLE"/>
		<result property="writerId" column="ID"/>
		<result property="writerNo" column="WRITER_NO"/>
		<result property="readCount" column="READCOUNT"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
		<result property="content" column="CONTENT"/>
		<result property="type" column="TYPE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>

	<resultMap type="Reply" id="boardReplyResultMap">
		<id 	property="no"			column="NO"/>
		<result property="boardNo" 		column="BOARD_NO"/>
		<result property="writerNo" 	column="WRITER_NO"/>
		<result property="writerId" 	column="ID"/>
		<result property="content" 		column="CONTENT"/>
		<result property="createDate" 	column="CREATE_DATE"/>
		<result property="modifyDate" 	column="MODIFY_DATE"/>
	</resultMap>
	
	<resultMap type="Board" id="boardDetailResultMap" extends="boardListResultMap">
		<collection property="replies" javaType="arrayList" columnPrefix="R_" 
												resultMap="boardReplyResultMap"/>
	</resultMap>
	
	<!-- MySQL의 페이징 기능을 활용한 코드 -->
	<select id="selectBoardList1" resultMap="boardListResultMap" parameterType="map">
		SELECT  
			B.NO, B.TITLE, M.ID, B.CREATE_DATE, B.ORIGINAL_FILENAME, B.READCOUNT, B.STATUS
		FROM BOARD B JOIN MEMBER M ON(B.WRITER_NO = M.NO) 
		WHERE B.STATUS = 'Y'
		<if test="writer != null">
			AND M.ID LIKE '%${writer}%' 
		</if>		
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%' 
		</if>		
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%' 
		</if>		
		ORDER BY B.NO DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<!-- Mybatis의 페이징 기능을 활용할 코드, 추천하지 않음. -->
	<select id="selectBoardList2" resultMap="boardListResultMap" parameterType="map">
		SELECT  
			B.NO, B.TITLE, M.ID, B.CREATE_DATE, B.ORIGINAL_FILENAME, B.READCOUNT, B.STATUS
		FROM BOARD B JOIN MEMBER M ON(B.WRITER_NO = M.NO) 
		WHERE B.STATUS = 'Y'
		<if test="writer != null">
			AND M.ID LIKE '%${writer}%' 
		</if>		
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%' 
		</if>		
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%' 
		</if>		
		ORDER BY B.NO DESC 
	</select>
	
	<select id="selectBoardCount" resultType="int" parameterType="map">
		SELECT  
			COUNT(*)
		FROM BOARD B JOIN MEMBER M ON(B.WRITER_NO = M.NO) 
		WHERE B.STATUS = 'Y'
		<if test="writer != null">
			AND M.ID LIKE '%${writer}%' 
		</if>		
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%' 
		</if>		
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%' 
		</if>		
	</select>
	
	<select id="selectBoardByNo" parameterType="int" resultMap="boardDetailResultMap">
		SELECT  
			B.NO, B.TITLE, M.ID, B.READCOUNT, B.TYPE, B.ORIGINAL_FILENAME, B.RENAMED_FILENAME, B.CONTENT, B.CREATE_DATE, B.MODIFY_DATE,
			R.NO AS R_NO, 
		    R.BOARD_NO AS R_BOARD_NO, 
		    R.CONTENT  AS R_CONTENT, 
		    M2.ID  AS R_ID, 
		    R.CREATE_DATE  AS R_CREATE_DATE, 
		    R.MODIFY_DATE  AS R_MODIFY_DATE
		FROM BOARD B
		JOIN MEMBER M ON(B.WRITER_NO = M.NO)
		LEFT JOIN REPLY R ON (B.NO = R.BOARD_NO)
		LEFT JOIN MEMBER M2 ON (R.WRITER_NO = M2.NO)
		WHERE B.STATUS = 'Y' AND B.NO = #{no}
		ORDER BY R.NO DESC
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(
			NO, WRITER_NO, TITLE,
			CONTENT, ORIGINAL_FILENAME,
			RENAMED_FILENAME, READCOUNT, STATUS,
			CREATE_DATE, MODIFY_DATE, TYPE	
		) VALUES (
			0, #{writerNo}, #{title}, 
			#{content}, #{originalFileName}, 
			#{renamedFileName}, DEFAULT, DEFAULT, 
			DEFAULT, DEFAULT, DEFAULT			
		)
	</insert>

	

	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY(
				NO, BOARD_NO, WRITER_NO, 
				CONTENT, STATUS, CREATE_DATE, MODIFY_DATE) 
			VALUES(
				0, #{boardNo}, #{writerNo}, #{content}, 
				DEFAULT, DEFAULT, DEFAULT
			)
	</insert>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET
			TITLE=#{title},
			CONTENT=#{content},
			<if test="originalFileName != null">
				ORIGINAL_FILENAME=#{originalFileName},
			</if>
			<if test="renamedFileName != null">
				RENAMED_FILENAME=#{renamedFileName},
			</if>
			MODIFY_DATE = CURRENT_TIMESTAMP
		WHERE
			NO=#{no}
	</update>
	
	<update id="updateReadCount" parameterType="map">
		UPDATE BOARD SET READCOUNT=#{readCount} WHERE NO=#{no}
	</update>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD SET STATUS='N' WHERE NO=#{no}
	</update>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY WHERE NO=#{no}
	</delete>
	

</mapper>